{% extends "blog/base_blog.html" %}

{% block title %}
  Create new post.
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock head %}

{% block style %}
    label {display:none;}
{% endblock%}

{% block navi %}
  <a href="/">Back to Homepage!</a>
{% endblock %}

{% block content %}
  <form method="POST" action="#">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="Submit">Save</button>
  </form>
{% endblock %}

{% block footer %}
  Copyright Don Koci 2017 Create New Post.
{% endblock %}
