{% extends 'blog/base_blog.html' %}

{% block title %}
  Django blog Homepage
{% endblock %}

{% block navi %}
  <p>
      <a href="/new_post">Create new post!</a>
  </p>
  <p>
      <a href="/login">Login Page!</a>
  </p>
  <p>
      <a href="/register">Register new user!</a>
  </p>
{% endblock %}

{% block content %}
  <h2>A table with all posts goes here.!</h2>
  <table>

  {% for item in posts %}
    <tr>
        <td>
            <a href={% url 'blog:views-post-detail' post_id=item.0 %}>{{ item.1 }}</a>
        </td>
    </tr>
    </p>
  {% endfor %}
  </table>

{% endblock %}

{% block footer %}
  Copyright Don Koci 2017
{% endblock %}
